.page-breadcrumb {
    background: none;
    overflow: hidden;
    padding: 0;
    font-size: px2rem(14px);
    position: relative;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 0.75rem;
    margin: 0 -0.75rem;
    font-size: px2rem(12px);
	text-transform: uppercase;

    flex-wrap: nowrap;
    overflow-x: auto;

    .breadcrumb-item {
        color: $text-muted;
        flex: 0 0 auto;
		font-weight: 400;

        &.active {

            padding-right: 0.85rem;
        }

        a {
            color: inherit;

            &:hover {
                color: $dark;
            }
        }

        + .breadcrumb-item {
            padding-left: .85rem;

            &:before {
                content: "";
                padding: 0;

                background: rgba($text-muted, .75);
				border-radius: 50%;
                vertical-align: middle;

                width: 4px;
                height: 4px;

                margin-top: -2px;
                margin-right: .85rem;

                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding: .75rem 0;
    }

    @include media-breakpoint-up(sm) {
        flex-wrap: wrap;
        margin: 0;
    }

    &-overlay {
        position: absolute;
        height: 100%;
        width: 40px;
        top: 0;
        right: 0;
        transform: scaleX(-1);
    }
}
