.page-breadcrumb {
	background: none;
	padding: 0;
	margin: 1rem 0 0;
	font-size: px2rem(14px);

	@include media-breakpoint-up(md) {
		margin: -.5rem 0 0;
	}

	.breadcrumb-item {
		color: $white;
		vertical-align: top;

		&.active {
			color: $text-muted-dark;
		}
	}
}

.breadcrumb {
	background-color: transparent;
	border-radius: 0;
	padding: 1rem;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: $small-font-size;

	.breadcrumb-item {
		color: rgba($white, .75);

		a {
			color: $white;
		}

		+ .breadcrumb-item {
			padding-left: 0;

			&:before {
				color: $white;
			}
		}
	}
}