.modal-body {

  > .form-group:last-child {
    margin-bottom: 0;
  }
}

.modal-header {
  .btn {
    margin: .25rem -.75rem .25rem 0;

    i {
      color: $gray-300;
      transition: $transition-base;
    }

    &:hover i {
      color: $gray-400;
    }
  }
}