.pagination {
	margin: -.25rem;
	flex-wrap: wrap !important;
}

.pagination {
	.page-item {
		margin: .25rem;
	}

	.page-link {
		border-radius: $border-radius;
	}

	.page-link-next,
	.page-link-next {
		min-width: 6.5rem;
		text-align: center;
	}

	@media (min-width: 768px) {
		.page-item {
			min-width: inherit;
		}
	}
}

.page-total-text {
	margin-right: 1rem;
	align-self: center;
	color: $text-muted-dark;
}