.selectgroup {
	width: calc(100% + 0.75rem);
	display: flex;
	flex-wrap: wrap;
	margin-right: -.375rem;
	margin-left: -.375rem;
}

.selectgroup-vertical {
	flex-direction: column;
}

.selectgroup-item {
	flex-grow: 1;
	margin-bottom: 0.75rem;
	max-width: 50%;
	padding-right: .375rem;
	padding-left: .375rem;
	position: relative;
}

.selectgroup:not(.selectgroup-vertical) > .selectgroup-item {
	& + .selectgroup-item {
		margin-left: -1px;
	}

	&:not(:first-child) .selectgroup-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:not(:last-child) .selectgroup-button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.selectgroup-vertical > .selectgroup-item {
	&:not(:last-child) {
		margin-bottom: 0;
	}

	& + .selectgroup-item {
		margin-top: -1px;
		margin-left: 0;
	}

	&:not(:first-child) .selectgroup-button {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&:not(:last-child) .selectgroup-button {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.selectgroup-input {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	&:checked  {
		+ .selectgroup-button {
			z-index: 1;
			color: $dark;
		}

		~ .selectgroup-button:before {
			background: $primary url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") no-repeat center center/44% 44%;
			border-color: $primary;
		}
	}

	&:disabled + .selectgroup-button {
		opacity: .45;
	}

	:focus + .selectgroup-button {
		z-index: 2;
	}
}

.selectgroup-button {
	background: white;
	display: block;
	border: 1px solid $input-border-color;
	text-align: left;
	padding: 1rem 1rem 1rem 3.5rem;
	position: relative;
	cursor: pointer;

	height: 100%;

	color: $dark;
	user-select: none;
	font-size: 1rem;
	line-height: 1.5rem;
	min-width: $input-height;

	&:before {
		background: white;
		border: 1px solid $border-color;
		border-radius: 50%;
		content: '';
		position: absolute;
		top: 1rem;
		left: 1rem;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		pointer-events: none;
		user-select: none;

		color: $dark;
		z-index: 1;
		transition: .3s opacity;
	}
}

.selectgroup-button-icon {
	padding-left: .5rem;
	padding-right: .5rem;
	font-size: 1rem;
}

.selectgroup-pills {
	flex-wrap: wrap;
	align-items: flex-start;

	.selectgroup-item {
		margin-right: .5rem;
		flex-grow: 0;
	}

	.selectgroup-button {
		border-radius: 50px !important;
	}
}
